* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
}
html {
    scroll-behavior: smooth;
}
